:root {
    --primary-color: #0a1118;
    --primary-color-highlight: #233D54;
    --bs-body-bg: #FBF0F6;
    --bs-body-font-family: 'Montserrat', sans-serif;
}

html {scroll-behavior: smooth;}

a {
    color: var(--primary-color);
}
a:hover {
    color: var(--primary-color);
}

// VARIABLES COLORES
$sombraDark: 10px 10px 20px rgba(170, 170, 170, .16);
$sombraLight: 10px 10px 20px rgba(0, 0, 0, .16);



@media (min-width: 544px) { 
    .steps {
        padding-top: 80px;
        padding-bottom: 80px;
    }
    .steps__section-thumbnail {
        height: auto;
    }
}


@media (min-width: 574px) { 
    #section4 {
        #videoTrabajando {
            width: 95% !important;
        }
    }
}
@media (min-width: 350px) { 
    #section4 {
        #videoTrabajando {
            width: 90% !important;
        }
    }
}





@media (min-width: 1200px) { 
    .container-custom { width: 1140px; }
}

@media (min-width: 1400px) { 
    .container-custom { width: 1340px; }
}

@media (min-width: 1600px) { 
    .container-custom { width: 1520px; }
}



// /* 
// * CUSTOM CONTAINER
// */
.container-custom {
    width: 100%;
    padding: 0 1rem;
    margin: 0 auto;
}

#body {

    #imagenPensar {
        margin-bottom: 9%;
    }
    #imagenDelMes {
        // border-bottom-left-radius: 4em !important;
        border-radius: 0;
    }
    // 
    // MAIN HEADER
    //
    .header {
        z-index: 2;

        .h3-F-HEADER {
            font-family: 'Grape Nuts', cursive;
        }
        .switch {
            background: #343D5B;
            border-radius: 1000px;
            border: none;
            position: relative;
            cursor: pointer;
            display: flex;
            outline: none;
            &::after {
                content: "";
                display: block;
                width: 30px;
                height: 30px;
                position: absolute;
                background: #F1F1F1;
                top: 0;
                left: 0;
                right: unset;
                border-radius: 100px;
                transition: .3s ease all;
                box-shadow: 0px 0px 2px 2px rgba(0,0,0,.2);
            }
            &.active {
                background-color: rgb(255, 196, 0);
                color: #000;
                &::after {
                    right: 0;
                    left: unset;
                }
            }

            .span {
                width: 30px;
                height: 30px;
                line-height: 30px;
                display: block;
                background: none;
                color: #fff;
            }
        }
    }

    //
    // FLYOUT NAVIGATION BAR
    //
    #navbar {
        position: fixed;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: rgb(244, 248, 252);
        z-index: 4;

        .dropdown-nav__container {
            height: 100vh;
            padding: 0 1rem;
        }

        .dropdown-nav__closeNavBtn {
            position: absolute;
            top: 20px;
            right: 16px;
            background-color: rgba(255, 255, 255, 0.6);
        }
    }


    // 
    // HERO SECTION
    //
    .hero {
        position: relative;
        height: 100vh;
        background-color: var(--primary-color);
        overflow: hidden;

        

        .hero__overlay {
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            background-color: var(--primary-color);
            opacity: 0.5;
            z-index: 1;
        }

        .hero__video {
            position: absolute;
            top: 50%;
            left: 50%;
            min-width: 100%;
            min-height: 100%;
            width: auto;
            height: auto;
            transform: translateX(-50%) translateY(-50%);
        }

        /* 
        * CUSTOM CONTAINER
        */
        .container-custom {
            width: 100%;
            padding: 0 1rem;
            margin: 0 auto;
            z-index: 1;

            .hero__content-width {
                max-width: 540px;
            }
        }
        .hero__scroll-btn {
            position: absolute;
            left: 50%;
            bottom: 30px;
            transform: translateX(-50%);
            z-index: 1;
            color: var(--bs-light);
            display: flex;
            flex-direction: column;
            align-items: center;
            text-decoration: none;

            .bi {
                transition-delay: 1.1s;
                animation: bounce 1s infinite alternate;
            }
        }
        .hero__scroll-btn:hover {
            color: var(--bs-light);
            opacity: 0.8;
        }

    }

    .steps {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .footer {
        background-color: rgb(233, 232, 232);
        .border-highlight {
            border-top: 1px solid grey;
            
        }
    }
    
}



.steps__section-thumbnail {
    height: auto;
    object-fit: cover;
    margin: 0 auto;
}

.steps__content-width {
    max-width: 456px;
    margin: 0 auto;
}

.steps--background {
    background-color: #FEF8F9;
}

#contSection {
    padding-bottom: 8em;
    padding-top: 3em;
}

.h1Contacto {
    padding-bottom: 2em;
}

#h1Talleres {
    padding-top: 2em;
}
#section1 {
    border-top: 2px solid rgba(247, 215, 226, 0.637);
    padding-top: 10% !important;
}

#section3A {
    background-color: #d3d5dd;
}
#section3 {
    background-color: rgba(255, 195, 98, 0.219);
    margin-top: -2em;
    padding-left: 2.5%;
    text-align: center;
}

#section2-B {
    margin-top: -1.5em !important;
    margin-left: 2.5%;
    text-align: center;
}





@keyframes bounce {
    from {
        transform: translateY(3px);
    }
    to {
        transform: translateY(-10px);
    }
}

body {
    .imagenCuadrada {
        border-top-left-radius: 3.2em;
        border-top-right-radius: 3.2em;
    }
    .imagenRedondeada {
        border-radius: 2.6em;
    }
    .hero {
        .hero__content {
            margin-left: 6% !important;
        }
    }
    .spanRosa{
        color: #f75eef;
    }
    .saberMas {
        color: #d633ad;
        border-color: #d633ad;
    }
    #h1Talleres {
        text-align: center;
        margin-top: 1.5em;
        margin-bottom: 2em;
    }
    #section2 {
        background-color: #d3d5dd;
        border-top: 2px solid rgb(216, 213, 213);
        padding-top: 5em !important;
        padding-bottom: 3em !important;
    }
    #section2-B {
        padding-top: 3em !important;
        padding-bottom: -.3em !important;
        margin-left: -1%;
        margin-bottom: -1.5em;
    }
    #section3 {
        background-color: rgb(233, 232, 232);
        border-top: 2px solid rgb(216, 213, 213);
        padding-top: 2.5em !important;
    }
    #section3A {
        padding-top: 4em !important;
        padding-top: 4.5em !important;
    }
    #section3B {
        background-color: rgb(250, 240, 240);
        border-top: 2px solid rgb(216, 213, 213);
        margin-top: -1.6em !important;
        padding-top: 4em !important;
        padding-bottom: 2em !important;
    }
    #section4 {
        margin-top: -1.6em !important;
        border-top: 2px solid rgb(216, 213, 213);
        padding-bottom: 5em !important;
        background-color: white;
        #h1Trabajando {
            text-align: center;
            margin-top: 1em;
            margin-bottom: 1.5em;
        }
        
    }
    #section4Talleres {
        #contSection {
            margin-top: -2%;
        }
    }
}


// COMIENZO DEL MODO NOCTURNO

body {
    &.dark {
        background-color: #424349 !important;
        .imagenCuadrada {
            border-top-left-radius: 3.3em;
            border-top-right-radius: 3.3em;
        }
        #navbar {
            background-color: #383b47 !important;
        }
        background-color: rgba(82, 80, 80, 0.842);
        color: white;
        a {
            color: white;
        }
        button {
            color: white;
            border-color: white;
        }
        // #section1 {
        //     border-top: 2px solid gray;
        // }
        
        #spanRosita {
            color: #f56bee;
        }
        #spanRosita2 {
            color: #f56bee;
        }
        #spanRosita3 {
            color: #f56bee;
        }
        #section1 {
            border-top: 2px solid rgba(216, 213, 213, 0.411);
        }
        #section2 {
            background-color: #383b47;
            border-top: 2px solid gray;
        }
        #section2-B {
            border-top: 2px solid gray;
            background-color: #424349;
            h3 {
                color: whitesmoke;
            }
            p {
                color: white;
            }
        }
        #section3 {
            background-color: #2b2b30;
            border-top: 2px solid gray;
            h3 {
                color: whitesmoke;
            }
            p {
                color: white;
            }
        }
        #section3A {
            background-color: #383b47;
            border-top: 2px solid gray;
        }
        #section3B {
            background-color: #424349;
            border-top: 2px solid gray;
        }
        #section4 {
            background-color: #424349;
            #botonDisabled {
                color: white;
            }
            #videoTrabajando {
                border-radius: 2em;
                box-shadow: 0 0 6px 0 rgba(255, 255, 255, 0.842);
            }
        }
        #section1Contacto {
            background-color: #383b47;
            #form {
                background-color: rgb(44, 43, 43);
                box-shadow: 0 0 6px 0 rgba(255, 255, 255, 0.842);
                label {
                    color: white;
                }
                input {
                    color: whitesmoke !important;
                }
                textarea {
                    color: whitesmoke !important;
                }
                button {
                    background: #4B79A1;  /* fallback for old browsers */
                    background: -webkit-linear-gradient(to right, #dd93e2, #2e4d70);  /* Chrome 10-25, Safari 5.1-6 */
                    background: linear-gradient(to right, #7e6c80, #2e4d70); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
                }
            }
        }
        .divSection1ContactoNosotros {
            background-color: #383b47;
            margin-top: -1% !important;
            margin-bottom: -1% !important;
            padding-bottom: 6% !important;
        }
        // .bodyNosotros {
        //     background-color: blue !important;
        // }
        .sectionPensar {
            margin-bottom: -3% !important;
        }
        
        #footer {
            background-color: #2b2b30;
            #divA {
                color: whitesmoke;
            }
            .bi {
                color: white;
            }
        }

    }
}

// body de sección contacto
body {
    a {
        text-decoration: none;
    }
    .textoNavBar {
        margin-left: 2.7%;
    }
    #section1Contacto {
        margin-top: -0.1% !important;
        padding-bottom: 5% !important;
        display: flex;
        justify-content: center;
        align-items: center;

        #form{
            background-color: white;
            padding: 40px;
            box-shadow: 0 0 6px 0 rgba(107, 107, 107, 0.8);
            border-radius: 20px;

            .grupo {
                position: relative;
                margin: 45px;
            }
            input {
                background: none;
                color: #c6c6c6;
                font-size: 17px;
                padding: 10px 10px 10px 5px;
                display: block;
                width: 100%;
                border: none;
                border-bottom: 1px solid black;
            }
            input:focus {
                outline: none;
                color: #5e5d5d;
            }
            textarea {
                background: none;
                color: #c6c6c6;
                font-size: 17px;
                padding: 10px 10px 10px 5px;
                display: block;
                width: 100%;
                border: none;
                border-bottom: 1px solid black;
            }
            textarea:focus {
                outline: none;
                color: #5e5d5d;
            }
            label {
                color: #5e5d5d;
                font-size: 17px;
                position: absolute;
                bottom: 0;
                left: 5px;
                top: 10px;
                transition: 0.5s ease-in-out all;
                pointer-events: none;
            }
            input:focus~label,
            input:valid~label{
                top: -14px;
                font-size: 12px;
                color: #3e698b;
            }
            textarea:focus~label{
                top: -12px;
                font-size: 15px;
                color: #3e698b;
            }

            .barra {
                position: relative;
                display: block;
                width: 100%;
            }
            .barra::before {
                content: "";
                height: 2px;
                width: 0%;
                bottom: 0;
                position: absolute;
                background: #4B79A1;  /* fallback for old browsers */
                background: -webkit-linear-gradient(to right, #283E51, #4B79A1);  /* Chrome 10-25, Safari 5.1-6 */
                background: linear-gradient(to right, #283E51, #4B79A1); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
                transition: 0.3s ease width;
                left: 0;
            }

            input:focus~.barra::before{
                width: 100%;
            }
            textarea:focus~.barra::before{
                width: 100%;
            }
            button {
                background: #4B79A1;  /* fallback for old browsers */
                background: -webkit-linear-gradient(to right, #b8ccdd, #ecd5ee);  /* Chrome 10-25, Safari 5.1-6 */
                background: linear-gradient(to right, #b8ccdd, #ecd5ee); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
                border: none;
                display: block;
                width: 50%;
                margin: 10px auto;
                color: white;
                height: 35px;
                font-size: 16px;
                cursor: pointer;
                border-radius: 6px;
            }
            #contSection {
                align-items: center;
                width: 110%;
            }
            // #pQueVes {
            //     display: flex;
            //     align-items: center;
            // }
            // #imagenPensar {
            //     img {
            //         align-items: center;
            //     }
            // }
            
            


        }
        .form {
            width: 100%;
            margin: auto;
        }
    }
}


@media screen and (min-width: 576px) and (max-width: 760px) {
    .imagenRedondeada {
        border-radius: 2em !important;
    }
    // #switch {
    //     width: -webkit-(70% !important);
    // }
    // #spanSol {
    //     margin-right: -webkit-(3em) !important;
    // }
    // #spanLuna {
    //     margin-left: -webkit-(3em) !important;
    // }
}

@media screen and (min-width: 1400px) {
    #imagenDelMes {
        width: 90% !important;
    }
}

@media screen and (min-width: 1600px) {
    #imagenDelMes {
        width: 85% !important;
    }
}
@media screen and (min-width: 1700px) {
    #imagenDelMes {
        width: 80% !important;
    }
}

@media screen  and (max-width: 575px){
    #imagenRedondeadaChica {
        border-radius: .7em !important;
        height: 120%;
    }
    // #switch {
    //     width: -webkit-(70% !important);
    // }
    // #spanSol {
    //     margin-right: -webkit-(1em) !important;
    // }
    // #spanLuna {
    //     margin-left: -webkit-(1em) !important;
    // }
    // .textoNavBar {
    //     margin-left: 3% !important;
    // }
}

@media screen  and (max-width: 500px){
    .form {
        width: 80%;
    }
}

body {
    #pQueVes {
        display: flex;
        align-items: center;
    }
}

